{% extends base_layout %}

{% block header_title %}

{% endblock %}

{% block content %}


<table class="table table-bordered table-condensed">
    <thead>
    <tr bgcolor="#808080">
    <th>Filename</th>
    <th>Vessel</th>
    <th>Voyage</th>
    <th>Port</th>
    <th>Load date</th>
    <th>Manifest detail</th>
    </tr>
    </thead>
    <tbody>

<tr>
{% for s in data %}
<td><a href=/manifest_detail/{{s.key.id()}}>{{s.key.id()}}</a></td>
<td>{{s.vessel_name}}</td>
<td>{{s.voyage}}</td>
<td>{{s.port}}</td>
<td><a href=/vesselview/{{s.vessel.get().key.id()}}>{{s.vessel.get().loaded}}</a></td>
<td><a href=/manifest_detail/{{s.key.id()}}><i class="icon-large icon-search icon-red"></i></a></td>
</tr>
{% endfor %}

  
</table>

        <hr/>


{% endblock %}
